{% comment %}
  card-color-selector.liquid
  This snippet displays color swatches for product variants.
{% endcomment %}

{%- if product.variants.size > 1 -%}
  <div class="flex gap-2 flex-wrap relative z-10 mb-6">
    {%- for option in product.options_with_values -%}      
      {%- if option.name == 'Color' -%}
        {%- for value in option.values -%}
          {%- assign color_swatch = value | handleize -%}
          {%- assign variant_image = product.featured_media.preview_image -%}
          {%- for variant in product.variants -%}
            {%- if variant.option1 == value -%}
              {%- assign variant_image = variant.featured_media.preview_image | default: product.featured_media.preview_image -%}
              {%- assign variant_id = variant.id -%} <!-- Assign the correct variant ID -->
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
          <button
            type="button"
            class="w-8 h-8 border border-[#E8E8E8] rounded-full cursor-pointer transition-transform duration-200 ease-in-out hover:scale-110"
            style="background-color: {{ color_swatch }};"
            data-variant-id="{{ variant_id }}"
            data-variant-image="{{ variant_image | img_url: 'master' }}"
            data-secondary-image="{{ variant_image | img_url: 'master' | replace: '.png', '-secondary.png' }}"
            aria-label="{{ value }}"
          ></button>
        {%- endfor -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
{%-  endif -%}
      